@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(248 250 252); /* bg-slate-50 */
  color: rgb(30 41 59); /* text-slate-800 */
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
